DATABASE = 'mongodb://127.0.0.1:27017/facetok'
PORT = 3000
ACCESS_TOKEN_SECRET_KEY = 'いま、なんじですか'
REFRESH_TOKEN_SECRET_KEY = 'ひさしぶり. 私はタイ・ヴィンです'
SECRET_KEY = '楽しい'
HOST_MAIL = "your-email@gmail.com"
EMAIL_PASS = "your-email-password"

# Firebase Configuration
FIREBASE_TYPE = "service_account"
FIREBASE_PROJECT_ID = "your-project-id"
FIREBASE_PRIVATE_KEY_ID = "your-private-key-id"
FIREBASE_PRIVATE_KEY = "your-private-key"
FIREBASE_CLIENT_EMAIL = "your-client-email"
FIREBASE_CLIENT_ID = "your-client-id"
FIREBASE_AUTH_URI = "https://accounts.google.com/o/oauth2/auth"
FIREBASE_TOKEN_URI = "https://oauth2.googleapis.com/token"
FIREBASE_AUTH_PROVIDER_CERT_URL = "https://www.googleapis.com/oauth2/v1/certs"
FIREBASE_CLIENT_CERT_URL = "your-client-cert-url"
FIREBASE_STORAGE_BUCKET = "your-project-id.appspot.com"
FIREBASE_API_KEY = "your-api-key"
FIREBASE_AUTH_DOMAIN = "your-project-id.firebaseapp.com"
FIREBASE_MESSAGING_SENDER_ID = "your-messaging-sender-id"
FIREBASE_APP_ID = "your-app-id"